.white {
    display: flex;
    background-color: bisque;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.black {
    display: flex;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.image {
    height: 80px;
    width: 80px;
}